 <div class="row text-center">
     <div class=" col-md-6 offset-3">
        <h1 class="text-dark">the content is not found</h1>
        <hr/>
        <a class="btn btn-outline-dark" asp-controller="Books" asp-action="Index">Home</a>
     </div>
 </div>